h1 {border-bottom-style: inset;}
h3 {border-bottom-style: inset;}
pre {font-family: 1.2em;}
img.normal {float: left; height: 300px; width: 300px;}
img.alta {float: left; height: 600px; width: 600px;}
span {margin-left: 70px;}
select {width: 150px;}
.detalhes {width: 400px;}
.oculta {display: none;}
.exibe {display: inline;}